In [3]:
from sql_queries import *
import configparser


# CONFIG
config = configparser.ConfigParser()
config.read('dwh.cfg')


LOG_DATA = config.get('S3','LOG_DATA')
LOG_JSONPATH = config.get('S3','LOG_JSONPATH')
SONG_DATA = config.get('S3', 'SONG_DATA')


DWH_DB_USER = config.get('CLUSTER', 'DB_USER')
DWH_DB_PASSWORD =  config.get('CLUSTER', 'DB_PASSWORD')
DWH_ENDPOINT = config.get('CLUSTER', 'HOST') 
DWH_PORT =  config.get('CLUSTER', 'DB_PORT')
DWH_DB = config.get('CLUSTER', 'DB_NAME')


# DWH_ROLE_ARN = config.get('IAM_ROLE','ARN')



config2 = configparser.ConfigParser()
config2.read('dwh-cluster.cfg')

KEY = config2.get('AWS', 'KEY')
SECRET = config2.get('AWS', 'SECRET')

## The cluster should have been created from Created_test_delete_redshift cluster.ipynb

In [4]:
# create connection
%reload_ext sql
conn_string="postgresql://{}:{}@{}:{}/{}".format(DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT,DWH_DB)
print(conn_string)
%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

### staging_event_table

In [5]:
#create staging_events table
%sql $staging_events_table_drop
%sql $staging_events_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [6]:
# copy data from s3 to staging_events
%sql $staging_events_copy

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

### staging_songs table

In [7]:
#create staging_songs table
%sql $staging_songs_table_drop
%sql $staging_songs_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [8]:
# copy data from s3 to staging_staging_songs
%sql $staging_songs_copy

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

### dim_users table

In [12]:
### DIM table
# CREATE dim_user table
%sql $user_table_drop
%sql $user_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [14]:
#insert dim_users
%sql $user_table_insert

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
104 rows affected.

[]

### dim_artists table

In [15]:
# create dim_artists table
%sql $artist_table_drop
%sql $artist_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [16]:
#insert into dim_artists table
%sql $artist_table_insert

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
10025 rows affected.

[]

### dim_songs table

In [17]:
# create table
%sql $song_table_drop
%sql $song_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [18]:
#insert into dim_songs table
%sql $song_table_insert

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
14896 rows affected.

[]

### dim_time table

In [5]:
# time_table_create
%sql $time_table_drop
# %sql $time_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [6]:
%sql $time_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [20]:
#insert into dim_time
%sql $time_table_insert

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
8023 rows affected.

[]

### fact table songplay

In [21]:
# songplay fact_table_create
%sql $songplay_table_drop
%sql $songplay_table_create

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.
 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
Done.

[]

In [22]:
#insert into fact_songplay
%sql $songplay_table_insert

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
1144 rows affected.

[]

In [9]:
%sql select * from dim_artists limit 2

 * postgresql://dwhuser:***@dwhcluster.cdkc1z34hnal.us-west-2.redshift.amazonaws.com:5439/dwh
2 rows affected.

[('AR19IRN1187FB4065B', 'Sylvan', 'Taiwan', None, None),
 ('AREQD801187B98AA22', 'George Ducas', '', None, None)]